<div class="jumbotron">

	<h4 ng-bind='app'> </h4>
	<input type="text" class="form-control" ng-model="criterioDeBusca" name="" placeholder="O que você está buscando?">
	
	<ui-alert ng-show="error" title="Ops, aconteceu um problema" message="error"></ui-alert>	

	<table class="table" ng-show="contatos.length > 0">
		<tbody>
			<tr>
				<th></th>
				<th>Serial</th>
				<th> <a href="" ng-click="ordernarPor('nome')">Nome</a></th>
				<th> <a href="" ng-click="ordernarPor('telefone')">Telefone</a></th>
				<th>Operadora</th>
				<th>Data</th>
			</tr>
			<tr ng-class="{selecionado : contato.selecionado}" ng-repeat="contato in contatos | filter: {nome: criterioDeBusca} | orderBy: criterioDeOrdenacao" >
				<td> <input type="checkbox" ng-model="contato.selecionado" name=""> </td>
				<td>{{contato.serial}}</td>
				<td>{{contato.nome | name | ellipsis:10}}</td>
				<td>{{contato.telefone}}</td>
				<td>{{contato.operadora.nome}}</td>
				<td>{{contato.data | date: 'dd/MM/yyyy hh:mm' }}</td>
			</tr>				
		</tbody>
	</table>

	<small ng-show="contatos.length == 0">Nenhum contato</small>

	<hr>

	<a href="#!/novoContato" class="btn btn-primary btn-block">Novo Contato</a>

	<button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-disabled="!isContatoSelecionado(contatos)">Apagar Contato</button>

</div>